body {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('../images/atys_grid.jpg') no-repeat center center fixed;
    background-size: cover; /* Ajustez cette ligne */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#login-container {
    /*max-width: 270px;*/
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px; /* Ajustement de la taille du conteneur */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 20%;
    top: 35%;
    transform: translate(-50%, -50%);
}


#callback-container {
    max-width: 200px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    /*border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);*/
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 20%; /* Décalage vers le tiers gauche */
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#login-container hr {
    border: 1px solid #fff;
    margin: 20px 0;
}

#login-container p {
    color: white;
    margin-bottom: 10px; /* Ajustement de la marge inférieure */
}

.button-link img {
    width: 20px; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto; /* Assurez-vous que la hauteur s'ajuste proportionnellement */
    margin-right: 5px; /* Ajoutez une marge à droite du texte */
    vertical-align: middle; /* Ajustez l'alignement vertical */
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fa0;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #08c;
    color: white;
}

#login-form input {
    width: calc(100% - 20px); /* Ajustement pour la largeur du padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #333;
    color: #fff;
    outline: none;
}

#login-form button {
    width: calc(100% - 20px); /* Ajustement pour la largeur du padding */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: #fff;
    cursor: pointer;
}

#login-form button:hover {
    background: #199900;
}

#login-form button:hover {
    background: #137100; /* Une teinte plus foncée lors du survol */
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #login-container {
        width: 90%;
    }
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 100%;
    color: white;
}

.flash-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.flash-error {
    background-color: red;
    border-color: white;
    color: white;
}

@media screen and (max-width: 600px) {
    #login-container {
        width: 95%;
        top: 40%;
        transform: translate(-10%, -50%);
    }
}












#info-popup {
    display: none;
    position: fixed;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white; /* Ajout de la bordure blanche */
    color: white;
    z-index: 1000;
}

#info-popup p {
    margin-bottom: 10px;
    padding-top: 10px;
}

#info-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#info-popup-close::before {
    content: attr(data-icon);
}

#info-popup a {
    color: white; /* Couleur blanche pour les liens non visités */
    text-decoration: underline; /* Souligné pour les liens non visités */
}

#info-popup a:visited {
    color: #ddd; /* Couleur gris clair pour les liens visités */
}

#info-button {
    vertical-align: middle;
}

#info-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    padding-right: 20px;
}

#info-popup-close::before,
#info-popup-close::after {
    content: '\00d7'; /* Code Unicode pour le caractère "X" */
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.5;

}

