body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

details {
    margin: 0;
    padding: 0;
}

.layer-group {
  /* Ajouter les styles CSS souhaités pour les éléments cibles */
}

summary {
}

details[open] {
}

details[open] summary {
}
details[open] ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
details[open] ul li {
    margin: 0;
    padding: 0;
}

.ui-autocomplete {
    transform: translate(-50%, -50%) !important;
    z-index: 1000 !important;
}

.popover {
    position: relative;
    display: inline-block;
}

.popover .popovertext {
    visibility: hidden;
    width: 250px;
    background-color: white;
    color: black;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.popover.active .popovertext {
    visibility: visible;
}

ul ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
}

.animated-search-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

.search-input {
    flex: 1;
    border: none;
    padding: 5px;
    outline: none;
    transition: width 0.3s;
    width: 0;
    overflow: hidden;
}

.search-input.active {
    width: 150px;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.search-icon img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#customControl {
    background: white;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /*border: 2px solid rgba(0,0,0,0.2);*/
    border-radius: 5px;
}
