<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>{{ _("Carte d'Atys") }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		
		<link rel="stylesheet" href="{{url_for('static', filename='css/leaflet.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/Control.FullScreen.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/easy-button.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/leaflet-sidepanel.css')}}">

<!--		<script>var lang='{{ lang }}';-->
<!--		console.log(lang);-->
<!--		</script>-->
		<script src="{{url_for('static', filename='js/jquery-3.6.3.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/leaflet.js')}}"></script>
		<script src="{{url_for('static', filename='js/map-leaflet.js')}}"></script>
		<script src="{{url_for('static', filename='js/Control.FullScreen.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
		<script src="{{url_for('static', filename='js/custom.js')}}"  data-json="{{ json_data }}"></script>
		<script src="{{url_for('static', filename='js/iconify.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/easy-button.js')}}"></script>
		<script src="{{url_for('static', filename='js/leaflet-sidepanel.min.js')}}"></script>
	</head>
	<body>
		<div id="map">
			<div id="mySidepanelRight" class="sidepanel" aria-label="side panel" aria-hidden="false">
				<div class="sidepanel-inner-wrapper">
					<nav class="sidepanel-tabs-wrapper" aria-label="sidepanel tab navigation">
						<ul class="sidepanel-tabs">
							<li class="sidepanel-tab">
								<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-1">
									{{ _("P.O.I.") }}
								</a>
							</li>
							<li class="sidepanel-tab">
								<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-2">
									{{ _("Aide") }}
								</a>
							</li>
						</ul>
					</nav>
					<div class="sidepanel-content-wrapper">
						<div class="sidepanel-content">
							<div class="sidepanel-tab-content" data-tab-content="tab-1">
								<h4>{{ _("Points d'interets divers") }}</h4>
								<input type="checkbox" class="layer-group" id="tpLayerGroup">{{ _("TP") }}
								<input type="checkbox" class="layer-group" id="VortexLayerGroup">{{ _("Vortex") }}
								<input type="checkbox" class="layer-group" id="NhLayerGroup">{{ _("New Horizons") }}
								<br>
								<input type="checkbox" class="layer-group" id="pathLayerGroup">{{ _("chemins de labyrinthes") }}
								<br>
								<input type="checkbox" class="layer-group" id="tribeCheckbox">{{ _("Tribus") }}
								<input type="checkbox" class="layer-group" id="affiliateLayerGroup">{{ _("affiliés") }}
								<div id="filters" style="display: none; margin-top: 10px;">
									<label><input type="radio" name="factionFilter" id="tribeLayerGroup">{{ _("Toutes") }}</label>
									<label><input type="radio" name="factionFilter" id="kamitribeLayerGroup">{{ _("kami") }}</label>
									<label><input type="radio" name="factionFilter" id="karatribeLayerGroup">{{ _("karavan") }}</label>
									<label><input type="radio" name="factionFilter" id="marautribeLayerGroup">{{ _("maraudeurs") }}</label>
								</div>
								<br>
								<input type="checkbox" class="layer-group" id="banditLayerGroup">{{ _("Bandits") }}
								<br>
								<input type="checkbox" class="layer-group" id="outpostLayerGroup">{{ _("Ops") }}
								<br>
								<input type="checkbox" class="layer-group" id="GuildLayerGroup">{{ _("Agent de Guilde") }}
								<br>
								<input type="checkbox" class="layer-group" id="TempleLayerGroup">{{ _("Temples") }}
								<br>
								<input type="checkbox" class="layer-group" id="MarauderBossLayerGroup">{{ _("Rois Maraudeurs") }}
								<br>
								<input type="checkbox" class="layer-group" id="WeatherLayerGroup" checked>{{ _("Météo (actualisé toutes les 90s)") }}
								<br>
								<input type="checkbox" id="nextseason" checked>{{ _("Prochaine Saison (actualisé toutes les 30min)") }}
								<br>
								<p>
									Météo:
									<div class="img-row" style="margin-bottom:30px;">

										<img src="{{url_for('static', filename='images/best.png')}}" class="img-icon"> BEST (0-16%)
										<img src="{{url_for('static', filename='images/good.png')}}" class="img-icon"> GOOD (16-50%)
										<img src="{{url_for('static', filename='images/bad.png')}}" class="img-icon"> BAD (50-83%)
										<img src="{{url_for('static', filename='images/worst.png')}}" class="img-icon"> WORST (83-100%)
									</div>
									{{ _("TP neutres:") }}
									<div class="img-row" style="margin-bottom:30px;">
										<img src="{{url_for('static', filename='images/tp_kami_neutral.png')}}" class="img-icon"> {{ _("Kami") }}
										<img src="{{url_for('static', filename='images/tp_karavan_neutral.png')}}" class="img-icon"> {{ _("Karavan") }}
									</div>
									{{ _("TP de faction:") }}
									<div class="img-row" style="margin-bottom:30px;">
										<img src="{{url_for('static', filename='images/tp_kami.png')}}" class="img-icon"> {{ _("Kami") }}
										<img src="{{url_for('static', filename='images/tp_karavan.png')}}" class="img-icon"> {{ _("Karavan") }}
										<img src="{{url_for('static', filename='images/tp_marauder.png')}}" class="img-icon"> {{ _("Maraudeur") }}
										<img src="{{url_for('static', filename='images/tp_ranger.png')}}" class="img-icon"> {{ _("Ranger") }}
									</div>
								</p>
							</div>
							<div class="sidepanel-tab-content" data-tab-content="tab-2">
								<h4>{{ _("Comment faire une recherche?") }}</h4>
								<p>
									<b><i></i>{{ _("note:") }}</b></i> {{ _("le champ de recherche et son autocomplétion n'a que les noms des PNJ en memoire.<br>Cela n'empèche pas la recherche d'autre chose.") }}
								</p>
								<p>{{ _("Vous pouvez rechercher simplement:") }}
									<ul>
										<li>{{ _("Un PNJ par son nom:") }}<br>
											<ul>
												<li>{{ _("Ex: <em>Ba'Wity Echen") }}</em></li>
												<li>{{ _("Ex: <em>Arken") }}</em></li>
											</ul>
										</li>
										<li>{{ _("Un PNJ par son titre, meme partiel:") }}
											<ul>
												<li>{{ _("Ex: <em>eclaireur") }}</em></li>
												<li>{{ _("Ex: <em>ecla") }}</em></li>
												<li>{{ _("Ex: <em>marchand") }}</em></li>
											</ul>
										</li>
										<li>{{ _("Une tribu par son nom partiel ou complet:") }}
											<ul>
												<li>{{ _("Ex: <em>Wicked Winds of the West") }}</em></li>
												<li>{{ _("Ex: <em>Wicked") }}</em></li>
											</ul>
										</li>
									</ul>
								</p>
								<p>
									{{ _("Valider le formulaire vide efface les points montrés.") }}
								</p>
								<p>
									{{ _("La navigation au clavier est possible:") }}
									<ul>
										<li>{{ _("Déplacement via les touches fléchées") }}</li>
										<li>{{ _("Zoom avec + et -") }}</li>
										<li>{{ _("Plein écran avec la touche F11") }}</li>
									</ul>
								</p>
								<p>
									{{ _("L'utilisation sur mobile devrait fonctionner, mais <b><i><u>ce n'est pas garanti</u></i></b>") }}.
								</p>
								<p>
									{{ _("Ce site mais également les traductions ont entièrement été réalisées via ChatGPT, elles sont donc imparfaites.<br />N'hésitez pas à ") }}
									<a href="https://chat.ryzom.com/direct/ashgan" class="contact-link" target="_blank">{{ _("me contacter") }}</a>{{ _(" pour les améliorer.") }}
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="sidepanel-toggle-container">
					<button class="sidepanel-toggle-button" type="button" aria-label="toggle side panel"></button>
				</div>
			</div>
		</div>
	</body>
</html>
