<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _("Login") }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="{{url_for('static', filename='js/jquery-3.6.3.min.js')}}"></script>

<script>
    $(document).ready(function () {
        $('#info-button').click(function (e) {
            e.preventDefault(); // Empêche le lien de suivre le lien "#" (ce qui évite de recharger la page)
            $('#info-popup').show();
        });

        $('#info-popup-close').click(function () {
            $('#info-popup').hide();
        });
    });
</script>
</head>
<body>
    <div id="login-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>
            {{ _("Se connecter via son compte Ryzom:") }} <a href="#" id="info-button">
                <img src="{{ url_for('static', filename='images/information.png') }}">
            </a>
        </p>
        <a href="{{ url_for('login') }}" class="button-link"><img src="{{ url_for('static', filename='images/ryzom.png') }}">ryzom.com</a>
    </div>
    <div id="info-popup">
        <span id="info-popup-close"></span>
        <p>
            {{ _("Dans la mesure du possible, aucune ressource n'est récupérée depuis un site externe.") }}<br>
            <br>
            {{ _("Cependant, pour fonctionner, ce site a besoin d'informations provenant de Ryzom.") }}<br>
            {{ _("Sont donc collecté des informations provenant de ") }}<a href="https://api.ryzom.com">https://api.ryzom.com</a>{{ _(" et ") }}<a href="https://me.ryzom.com">https://me.ryzom.com</a>.
            <br><br>
            <a href="https://api.ryzom.com">https://api.ryzom.com</a> {{ _("fournit des informations générale sur le jeu (temps, météo...).") }}<br>
            <a href="https://me.ryzom.com">https://me.ryzom.com</a> {{ _("sert à vous identifier, et ne fournit en retour que ces informations sur le joueur:") }}<br>
            <ul>
                <li>{{ _("ID Ryzom de guilde") }}</li>
                <li>{{ _("ID Ryzom du personnage") }}</li>
                <li>{{ _("Nom du personnage") }}</li>
            </ul>
            {{ _("Aucun mot de passe n'est saisi ou transite via ce site, il n'a aucune connaissance de vos identifiants.") }}<br><br>
            {{ _("un cookie technique est utilisé dans le seul but de garder votre session entre deux visites.") }}<br>
            {{ _("Ce site ne collecte pas d'information, ne propose de publicité ni d'affiliation d'aucune sorte.") }}<br><br>
            {{ _("Si vous trouvez que ce n'est pas le cas, merci de me contacter via le ") }}<a href="https://chat.ryzom.com">RC</a>/<a href="https://discord.com/channels/185340370417090560">Discord</a> Ryzom (Ashgan).
        </p>
    </div>
</body>
</html>
